<div *ngIf="show == false">
  <br>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <span *ngFor="let question of questions, let i = index">
      <div *ngIf="i<questions.length">
        <!--{{i}}-->
        <div *ngIf="i==0; then first else last"></div>
            <ng-template #first>
             <input class="input-stuff" name={{i}} ngModel [required]="true" [autofocus]="true"
                    [focus]="myFocusTriggeringEventEmitter"><br>
            </ng-template>
            <ng-template #last>
             <input class="input-stuff" name={{i}} ngModel [required]="true"><br>
            </ng-template>
      </div>
    </span>
    <span>
        <button mat-raised-button="check" [type]="submit" class="half">
          <mat-icon>done</mat-icon>
        </button>
    </span>
  </form>
</div>
<div *ngIf="show == true" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.index}} </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.question}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="answer">
        <mat-header-cell *matHeaderCellDef> Answer </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.answer}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="correct">
        <mat-header-cell *matHeaderCellDef> Correct </mat-header-cell>
        <mat-cell *matCellDef="let result"> {{result.correct}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!--<mat-paginator #paginator-->
                   <!--[pageSize]="10"-->
                   <!--[pageSizeOptions]="[5, 10, 20]"-->
                   <!--[showFirstLastButtons]="true">-->
    <!--</mat-paginator>-->
  </div>

