<mat-nav-list>
  <a mat-list-item routerLink="/quiz" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Quiz</span>
  </a>
  <a mat-list-item routerLink="/quizzes" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">List</span>
  </a>
  <a mat-list-item routerLink="/quizStuff" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Quiz Stuff</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
