<div>
  <span class="done">
    <!--<mat-input-container>-->
      <mat-form-field>
      <input matInput placeholder="How many" [(ngModel)]="model.runNumber" required>
      </mat-form-field>
    <button mat-fab (click)="selectNumberPressed(model.runNumber)">
      <mat-icon>check circle</mat-icon>
    </button>
    <!--</mat-input-container>-->
  </span>
  <h1 *ngIf="isCounting">Random Number (every second) : {{randomNumber}}</h1>counter = {{counter}}
</div>

<div class="example-container" >
     <!--*ngIf="!isCounting">-->
  <mat-card>
    <mat-card-header>
      <mat-card-title> <h1>Quiz</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="30px">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="A1" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="A2" required
                   [(ngModel)]="entry_in_progress.Comments" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="A3" required
                   [(ngModel)]="entry_in_progress.Is_Active" value="Project">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile   *ngIf="chosenNumber >= 4">
          <mat-form-field>
            <input matInput placeholder="A4" required
                   [(ngModel)]="entry_in_progress.Date_Added" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 5">
          <mat-form-field>
            <input matInput placeholder="A5" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 6">
          <mat-form-field>
            <input matInput placeholder="A6" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 7">
          <mat-form-field>
            <input matInput placeholder="A7" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 8">
          <mat-form-field>
            <input matInput placeholder="A8" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 9">
          <mat-form-field>
            <input matInput placeholder="A9" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 10">
          <mat-form-field>
            <input matInput placeholder="A10" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button (click)="cancelPressed()">Cancel</button>
      <span class="done">
          <button mat-fab (click)="onAction1()">
            <mat-icon>cached</mat-icon>
          </button>
        </span>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
