<div class="my-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="60px">
        <mat-grid-tile [colspan]="2">
          <mat-form-field>
            <input matInput placeholder="How many" maxlength="1" [(ngModel)]="model.runNumber" required class="input-small">
          </mat-form-field>
        </mat-grid-tile>
        <!--<mat-grid-tile>-->
        <!--</mat-grid-tile>-->
        <mat-grid-tile [colspan]="2">
          <button mat-fab (click)="selectNumberPressed(model.runNumber)">
            <mat-icon>check circle</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <h4 *ngIf="isCounting">Random Number (every second) : {{randomNumber}}</h4> -- counter = {{counter}}
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
<div align="center">
<form class="example-form" f>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Company (disabled)" disabled value="Google">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="First name">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Long Last Name That Will Be Truncated">
    </mat-form-field></td>
  </tr></table>

  <p align="left">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address 2"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>
</form>
</div>
<div class="my-container">
  <!--*ngIf="!isCounting">-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Quiz</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="30px">
        <mat-grid-tile *ngIf="chosenNumber >= 1">
          <mat-form-field>
            <input matInput placeholder="A1" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 2">
          <mat-form-field>
            <input matInput placeholder="A2" required
                   [(ngModel)]="entry_in_progress.Comments" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 3">
          <mat-form-field>
            <input matInput placeholder="A3" required
                   [(ngModel)]="entry_in_progress.Is_Active" value="Project">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="chosenNumber >= 4">
          <mat-form-field>
            <input matInput placeholder="A4" required
                   [(ngModel)]="entry_in_progress.Date_Added" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 5">
          <mat-form-field>
            <input matInput placeholder="A5" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 6">
          <mat-form-field>
            <input matInput placeholder="A6" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 7">
          <mat-form-field>
            <input matInput placeholder="A7" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 8">
          <mat-form-field>
            <input matInput placeholder="A8" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 9">
          <mat-form-field>
            <input matInput placeholder="A9" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="chosenNumber >= 10">
          <mat-form-field>
            <input matInput placeholder="A10" required
                   [(ngModel)]="entry_in_progress.Project" value="Project">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button (click)="cancelPressed()">Cancel</button>
      <span class="done">
          <button mat-fab (click)="onAction1()">
            <mat-icon>cached</mat-icon>
          </button>
        </span>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>

<div class="my-container">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>
</div>
